<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Web Fractale</title>
        <script>var fracts = <%- JSON.stringify(fractals) %></script>
        <link rel="stylesheet" href="/assets/style/index.css">
    </head>
    <body>
        <h1>Fractales</h1>
        <div class="container">
            <ul></ul>
        </div>
        <script src="assets/js/index.js"></script>
    </body>
</html>